.grad {
    background-color: #FAE7B5;
}

/* 47, 177, 163 */

.green {
    background-color: rgb(47, 177, 163)!important;
    color: white!important;
}

.container {
    margin-left: 10px;
}

.i1 {
    margin-right: 10px;
}

.m1 {
    width: 24rem!important;
}

.fill {
    width: 77rem!important;
    height: 50rem!important;
    margin-left: 354px!important;
    margin-top: -228px!important;
}