<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!-- !!!!!!!!!! ДОКИ ПО ФРЕЙМВОРКУ: https://semantic-ui.com/introduction/getting-started.html !!!!!!!!!! -->

<body>
    <nav class="ui stackable menu">
        <div class="item green"><strong>Лабиринт</strong></div>
        <a class="item active" href="/">Главная</a>
        <a class="item disabled">Игра</a>
    </nav>

    <div class="container">
        <h2>Вход по коду и нику:</h2>
        <form>
            <div class="ui input i1">
                <input type="text" placeholder="Код">
            </div>
            <div class="ui input i1">
                <input type="text" placeholder="Ник">
            </div>
            <button type="submit" class="ui button teal">Войти</button>
        </form>
        <h2>Создать комнату по нику:</h2>
        <form>
            <div class="ui input i1">
                <input type="text" placeholder="Ник">
            </div>
            <button type="submit" class="ui button teal">Создать</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>